
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');


.lgbanner{
    background-image: url(../assets/images/AAA.png);
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    font-family: 'Encode Sans SC', sans-serif;
    scroll-behavior: smooth;
    
}

